# Configuración de Base de Datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contraseña_aqui
DB_NAME=db_veci
DB_PORT=3306

# Seguridad
JWT_SECRET=tu_secreto_jwt_aqui

# EmailJS Configuration
EMAILJS_SERVICE_ID=tu_service_id_aqui
EMAILJS_TEMPLATE_ID=tu_template_id_aqui
EMAILJS_PUBLIC_KEY=tu_public_key_aqui
EMAILJS_PRIVATE_KEY=tu_private_key_aqui

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=tu_cloud_name_aqui
CLOUDINARY_API_KEY=tu_api_key_aqui
CLOUDINARY_API_SECRET=tu_api_secret_aqui
